rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {


    // =========================================================
    // USER PROFILES
    // =========================================================
  match /users/{userId} {

    allow read: if request.auth != null;

    allow write: if request.auth != null;

      // Profile documents are provisioned by authorized backend processes only.
      allow write: if false;
    }



    // =========================================================
    // MEMBERSHIPS
    // =========================================================
    match /memberships/{membershipId} {

      allow read: if request.auth != null
                  && (
                    request.auth.uid == resource.data.userId
                    ||
                    (
                      request.auth.token.organizationId 
                      == resource.data.organizationId
                      &&
                      request.auth.token.role 
                      in ['manager',
                          'owner',
                          'super_admin',
                          'system_admin']
                    )
                  );


      // Memberships are managed by backend processes only.
      allow write: if false;
    }




    // =========================================================
    // AUDIT LOGS
    // =========================================================
    match /auditLogs/{logId} {


      allow read: if request.auth != null
                  &&
                  (
                    (
                      request.auth.token.organizationId
                      == resource.data.organizationId
                      &&
                      request.auth.token.role
                      in ['manager','owner']
                    )
                    ||
                    request.auth.token.role
                    in ['system_admin','super_admin']
                  );


      // Immutable
      allow write: if false;
    }



    // =========================================================
    // ORGANIZATIONS
    // =========================================================
   match /organizations/{organizationId} {

    allow read: if request.auth != null;

    allow write: if false;
}
match /organizations/{organizationId}/{document=**} {

    allow read: if request.auth != null;

    allow write: if request.auth != null;
}

    // =========================================================
    // DEFAULT DENY
    // =========================================================

  }
}